/* CSS-Anpassungen bitte hier */
/* css Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Raleway', sans-serif;
}
a {
  text-decoration: none;
  color:white;
}

.navbar .inner-container {
  width:100%;
  position: fixed;
  background-color: black;
  height: 3.8em;
  top: 0;
  text-align: center;
  z-index:2;   
}
.navbar ul{
 
 display: inline-block;
 list-style-type: none;
}
@media (min-width:767px){ 
.navbar li{
  text-align: center;
  display:inline-block;
  padding:1em 0.5em;
  font-size: 1.35em;
  font-style: bold;
  text-transform: uppercase;
  }
}
@media (max-width:767px){
  .navbar li{
    display:none;
    width:100%;
    font-size: 2em;
  }
 
  .navbar ul{
    width:100%;
  }
  .navbar li::active{
    display: block;
    width:100%;
    font-size: 1em;
  }
  .inner-container:before{
    font-family: 'FontAwesome';
    font-size: 2em;
    float:right;
    padding:0.2em;
    content: "\f0c9";
    color:white;
  }
  .inner-container:hover >.navbar li{
    display: block;
    background-color: rgba(0,0,0,0.7)
  }
}
.navbar-nav>li .icon{
  display:none;
}
.navbar-nav>li:hover{
  text-decoration: underline;
  text-decoration-color: rgba(0,255,255,1);
}
div.row:nth-child(2){
  width:100%;
  display: block;
  background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Artificial-intelligence-elon-musk-hawking.jpg/512px-Artificial-intelligence-elon-musk-hawking.jpg);
  background-size: 100% 35em;
  background-repeat: no-repeat;
  height:35em;
  box-shadow: inset 0px -8px 10px 0px #000,5px 5px 5px 1px #050404;
}
.title{
  padding-top: 10em;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.5)
}
.site-name{
  padding-top: 2em;
  font-size: 4em
} 
.slogon{
  font-size: 2.5em;
}
.title{
  text-align: center;
}

.part{
  display: block;	
  color: white;
  float: none;
}
.part > h3{
  padding: 1em;
  font-size: 1.9em;
  font-weight: bold ;
  padding-bottom:  1em;
  text-align:center;
}
.part > p{
  width:80%;
	padding-bottom: 1.5em;
  font-size: 1.3em;
  margin:0 auto;
	top: 50%;
}
div.row:last-child{
  background-color: black;
  color:white;
}



.social-buttons{
  margin: 0 auto;
  padding: 1em;
  display: block;
  width: 6em;
  font-size: 2em;
}
.social-buttons i {
  display: inline-block;
  width: 3em;
  height:3em;
  padding: 0.3em;
  
}
#tm-copyright{
  text-align: center;
  font-size:1.5em;
}
div.part:nth-child(odd){
  background-color: black;
}
div.part:nth-child(even){
  background-color: white;
  color:black;
}