/* CSS-Anpassungen bitte hier */
/* css Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Raleway', sans-serif;
}
a {
  text-decoration: none;
  color:white;
}

.navbar .inner-container {
  width:100%;
  position: fixed;
  background-color: black;
  height: 3.8em;
  top: 0;
  text-align: center;
  z-index:2;   
}
.navbar ul{
 
 display: inline-block;
 list-style-type: none;
}
@media (min-width:767px){ 
.navbar li{
  text-align: center;
  display:inline-block;
  padding:1em 0.5em;
 
  font-size: 1.35em;
  font-style: bold;
  text-transform: uppercase;
  }
  .section.content{
    height: 45vw;
    background-size:100% 45vw;
  }
  
  .part{
  position:relative;
  height: 45vw;
	width:100vw;
	background-position: center; 
	float:left;
  color: white;
  overflow: hidden;
}
.part > h3{
  padding: 1em;
  font-size: 1.9em;
  font-weight: bold ;
  padding-bottom:  1em;
  text-align:center;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  position: absolute;
}
.part > p{
	position:absolute;
	padding-bottom: 1.5em;
  font-size: 1.3em;
  margin:0 auto;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
	top: 50%;
}
  .slider-background{
  z-index: -1;
  width: 100%;
  height:100%;

  left: 0px; 
  top: 0px; 
  position: static;
}
}
@media (max-width:767px){
  .navbar li{
    display:none;
    width:100%;
    font-size: 2em;
  }
  .section.content{
    position: relative;
    
  }
  .slider-background{
  height:60vw;
  width: 100vw;
}
  .part{
   position: relative;
   float:left;
    height:90vw
  }
  .part p{
    width:100vw;
    position: absolute;
    font-size: 1em !important;
    height: 37vw;
    top:60vw;
    background-color: black;
    color:white;
    
  }
  .part h3{
    background-color: black;
    color:white;
    width:100vw !important;
  }
  .navbar ul{
    width:100%;
  }
  .navbar li::active{
    display: block;
    width:100%;
    font-size: 1em;
  }
  .inner-container:before{
    font-family: 'FontAwesome';
    font-size: 2em;
    float:right;
    padding:0.2em;
    content: "\f0c9";
    color:white;
  }
  .inner-container:hover >.navbar li{
    display: block;
    background-color: rgba(0,0,0,0.7)
  }
}
.navbar-nav>li .icon{
  display:none;
}
.navbar-nav>li:hover{
  text-decoration: underline;
  text-decoration-color: rgba(0,255,255,1);
}
div.row:nth-child(2){
  width:100%;
  
  display: block;
  background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Artificial-intelligence-elon-musk-hawking.jpg/512px-Artificial-intelligence-elon-musk-hawking.jpg);
  background-size: 100% 35em;
  background-repeat: no-repeat;
  height:35em;
  border-bottom: black;
  box-shadow: inset 0px -8px 10px 0px #000,5px 5px 5px 1px #050404;
}
.title{
  padding-top: 10em;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.5)
}
.site-name{
  padding-top: 2em;
  font-size: 4em
} 
.slogon{
  font-size: 2em;
}
.title{
  text-align: center;
}


div.row:last-child{
  background-color: black;
  color:white;
}
section.content{
	position:relative;
	width:400vw;
	overflow-x: hidden;
	transition:left 1s;
}


.social-buttons{
  margin: 0 auto;
  padding: 1em;
  display: block;
  width: 6em;
  font-size: 2em;
  text-align: center;
}
.social-buttons i {
  display: inline-block;
  padding:  0.3em;
  ;
}
#tm-copyright{
  text-align: center;
  font-size:1.5em;
}
