/* CSS-Anpassungen bitte hier */
/* css Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a {
  text-decoration: none;
  color:white;
}

.navbar .inner-container {
  position: fixed;
  width:100%;
  background-color: black;
  height: 2.5em;
  top: 0;
  text-align: center;
}
.inner-container .navbar{
  width:80%;
  margin: 0 auto;
  

}
@media (min-width:700px){ 
.navbar li{
  text-align: center;
  display:inline-block;
  float: left;
  padding:1em;
  list-style: none;
  font-size: 0.8em;
  text-transform: uppercase;
  }
  .section.content{
    height: 40vw;
    background-size:100% 40vw;
  }
  
  .part p{
    width:80%;
  }
  .part h3{
    width:12em;
  }
  .part{
    height: 40vw;
      }
  
}
@media (max-width:700px){
  .navbar li{
    display:none;
  }
  .section.content{
    height: 60vw;
  }
  
  
  
  .part{
    height: 60vw;
    background-size:100% 60vw;
        

  }
  .part p{
    width:100% ;
      

    
  }
  .part h3{
   
    
    width:100% !important;
  }
  .navbar li::active{
    display: block;
  }
  .inner-container:before{
    font-family: 'FontAwesome';
    content: "\f0c9";
    color:white;
  }
  .inner-container:hover >.navbar li{
    display: block;
    background-color: rgba(0,0,0,0.7)
  }
}
.navbar-nav>li .icon{
  display:none;
}
.navbar-nav>li:hover{
  text-decoration: underline;
  text-decoration-color: rgba(0,255,255,1);
}
div.row:nth-child(2){
  width:100%;
  display: block;
  background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Artificial-intelligence-elon-musk-hawking.jpg/512px-Artificial-intelligence-elon-musk-hawking.jpg);
  background-size: 100%,16em;
  background-repeat: no-repeat;
  height:16em;
  /*! border-bottom: black; */
  box-shadow: inset 0px -8px 10px 0px #000,5px 5px 5px 1px #050404;
}
.title{
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.5)
}
.site-name{
  padding-top: 2em;
  font-size: 3em
} 
.slogon{
  font-size: 1.5em;
}


.title{
  text-align: center;
}

.part{
  position: relative;
	width:100vw;
	background-position: center; 
	float:left;

   
    color: white;
}
.part > h3{
  
  padding: 1em;
  font-size: 1.5em;
  font-weight: bold ;
  padding-bottom:  1em;
  text-align:center;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  position: absolute;
}
.part > p{
	position:absolute;
	
	padding-bottom: 1.5em;
  margin:0 auto;
	background-color: rgba(0,0,0,0.5);
	

	z-index: 1;
	top: 50%;
}
div.row:last-child{
  background-color: black;
  color:white;
 
}
section.content{
	position:relative;
	width:400vw;
	
	overflow:hidden;
	transition:left 1s;
}
.part:first-child{

	
}
.slider-background{
  z-index: -1;
  width: 100%;
  height:100%;
  /*! position: fixed; */ 
  left: 0px; 
  top: 0px; 
  position: static;
}
.social-buttons{
  margin: 0 auto;
  padding: 1em;
  display: block;
  width: 6em;
  font-size: 2em;
}
.social-buttons i {
  display: inline-block;
  width: 3em;
  height:3em;
  padding:  0.3em;
  border-radius: 50%;
  border: 2px solid white;
}
.icon-facebook{
 
}